## Python For AI Basics

### Variables and Data Types

In [1]:
# Integer (int)
x = 5

# Float (decimal number)
y = 2.5

# String (text)
name = "Vivian"

# Boolean (True or False)
is_student = True

# Check their types
print(type(x))
print(type(y))
print(type(name))
print(type(is_student))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'bool'>

### Operators 
[ + : Addition, - : Subtraction, * : Multiplication, / : Division, // : Floor division (removes decimal), ** : Exponent, % : Modulus (remainder) ]

In [2]:
sum_result = x + y
product_result = x * y
division_result = x // 2
power_result = x ** 2
mod_result = x % 2

print("Sum:", sum_result)
print("Product:", product_result)
print("Division (//):", division_result)
print("Power:", power_result)
print("Modulus:", mod_result)

Sum: 7.5
Product: 12.5
Division (//): 2
Power: 25
Modulus: 1

Control Flow & Loops
### 1. Control Flow - If, elif, else. 
---
Digunakan untuk mengambil keputusan berdasarkan kondisi tertentu.

In [ ]:
x = 5
y = 3

# Contoh if-else
if x > y: # Mengecek kondisi pertama
    print(f"{x} is greater than {y}")
elif x == y: # Mengecek kondisi lain jika sebelumnya False
    print(f"{x} is equal to {y}")
else: # Dieksekusi jika semua kondisi sebelumnya False
    print(f"{x} is less than {y}")

5 is greater than 3

### 2. For Loop 
---
digunakan untuk mengulangi suatu proses berdasarkan urutan tertentu, misalnya range, list, dsb.

In [11]:
# Mengulang angka dari 0 sampai 4 (5 tidak ikut)
for i in range(5):
    print(i)
    
fruits = ['apple', 'banana', 'cherry']

for fruit in fruits:
    print(f"\n I like {fruit}")

0
1
2
3
4

 I like apple

 I like banana

 I like cherry

### 3. Looping – while loop
---
akan terus mengulang selama kondisinya benar (True).

In [12]:
j = 4
while j < 8:
    print(j)
    j += 1  # increment: tambah 1 setiap loop

print("I am out")  # dicetak setelah kondisi tidak terpenuhi

4
5
6
7
I am out

### 4. Break, continue, dan pass dalam loop
---
break → menghentikan loop ,  continue → loncati ke iterasi berikutnya,  pass → placeholder (tidak melakukan apa-apa)

In [13]:
for i in range(10):
    if i == 5:
        break
    print(i)

0
1
2
3
4

In [14]:
for i in range(5):
    if i == 2:
        continue  # loncati i = 2
    print(i)

0
1
3
4

In [15]:
for i in range(3):
    pass  # tidak melakukan apapun, biasanya digunakan saat struktur masih kosong

### Functions 
Functions help reuse code.

In [3]:
# Greet a Person
def greet(name):
    return f"Hello, {name}!"

# Calling the function
print(greet("Vivian Aranha"))

Hello, Vivian Aranha!

### Lists 
ordered, changeable collection

In [16]:
# List = ordered, changeable collection
numbers = [1, 2, 3, 4, 5]

# Indexing (starts at 0)
print("First number:", numbers[0])

# Adding items
numbers.append(7)
print("After append:", numbers)

# Removing items
numbers.remove(3)  # remove by value
print("After remove:", numbers)

# Popping items
numbers.pop()  # remove last item
print("After pop:", numbers)

# Slicing
print("First three numbers:", numbers[:3])

First number: 1
After append: [1, 2, 3, 4, 5, 7]
After remove: [1, 2, 4, 5, 7]
After pop: [1, 2, 4, 5]
First three numbers: [1, 2, 4]

### Dictionaries 
key-value pairs

In [17]:
student = {
    "name": "Vivian",
    "age": 40,
    "is_student": True
}

# Accessing values
print("Name:", student["name"])
print("Age:", student["age"])

Name: Vivian
Age: 40

### Numpy 
Numerical Python

In [18]:
import numpy as np

# Creating 1D arrays
array1 = np.array([1, 2, 3, 4, 5])
array2 = np.array([3, 4, 5, 6, 7])

print("Array1:", array1)
print("Array2:", array2)

# Element-wise addition
print("Addition:", array1 + array2)

# Matrix (2D array)
matrix = np.array([
    [1, 2],
    [3, 4]
])

# Matrix multiplication (dot product)
print("Matrix * Matrix:")
print(np.dot(matrix, matrix))

Array1: [1 2 3 4 5]
Array2: [3 4 5 6 7]
Addition: [ 4  6  8 10 12]
Matrix * Matrix:
[[ 7 10]
 [15 22]]

###  PANDAS
Data Analysis and Manipulation

In [ ]:
import pandas as pd

# Read data from Excel
data = pd.read_excel(r'DataCoba.xlsx')

# Show the first 5 rows
print(data.head())

# Access specific column - Data Manipulation (cuman ngambil bagian yang diminta)
names = data['Name']
print("\n Names column:")
print(names)

# Filtering data
filtered_data = data[data['Age'] > 18]
print("\n Filtered (Age > 18):")
print(filtered_data)

# Summary statistics
print("\n Descriptive Statistics:")
print(data.describe())

      Name  Age         City
0    Alice   18     New York
1      Bob   25  Los Angeles
2  Charlie   19      Chicago
3    David   16      Houston
4      Eve   22      Phoenix

 Names column:
0      Alice
1        Bob
2    Charlie
3      David
4        Eve
Name: Name, dtype: object

 Filtered (Age > 18):
      Name  Age         City
1      Bob   25  Los Angeles
2  Charlie   19      Chicago
4      Eve   22      Phoenix

 Descriptive Statistics:
             Age
count   5.000000
mean   20.000000
std     3.535534
min    16.000000
25%    18.000000
50%    19.000000
75%    22.000000
max    25.000000

### Task 1 : Create a List of Numbers and Print Their Squares

In [22]:
# Reading from a text file
with open('numbers.txt', 'r') as file: # r = only read not modified 
  numbers = file.readlines() #readlines dipakai agar dibaca semua barisnya
  
# Process: convert each number to integer, square it, and convert back to string
squared_numbers = [str(int(num.strip())** 2) + "\n" for num in numbers]
 
# Writing to a new file
with open('output.txt', 'w') as file:
  file.writelines(squared_numbers)

### Task 2 : Reading and Writing Files in Python

In [23]:
#Reading from a file using Python’s open() function.
data = pd.read_excel('DataCoba.xlsx')
 
#Iterating over file contents
age = data['Age']
print(" Ages column:")
print(age)
 
ten_years = age + 10 
print(" \n Ten Years Later ")
print(ten_years)
 
# Menambahkan kolom baru
data['Ten Years Later'] = ten_years
# print(data)
 
#Writing the processed data to a new file
data.to_excel(r'D:\Work\AI-UDEMY\DataCoba_Hasil.xlsx', index=False)

 Ages column:
0    18
1    25
2    19
3    16
4    22
Name: Age, dtype: int64

 Ten Years Later
0    28
1    35
2    29
3    26
4    32
Name: Age, dtype: int64

### Task 3 : Working with Lists and Dictionaries

In [24]:
#Create a list of 5 students’ names and their ages.
students_name = ["Dinda", "Amanda", "Sharon", "Joshua", "Maula"]
 
#Use a dictionary to store and access the students’ ages.
student_age = {
  "Dinda" : 20,
  "Amanda" : 18,
  "Sharon" : 14,
  "Joshua" : 15,
  "Maula" : 20
}
 
#Iterate through the dictionary and print each student's name along with their age
print("Umur Dinda adalah", student_age['Dinda'])

Umur Dinda adalah 20